<div class="container d-flex justify-content-center align-middle mt-5 w-50 class= d-flex flex-column">
  <h3 class="mb-2">Voici la liste de vos annonces</h3>
  <a [routerLink]="['/public/ajoutAnnonce']" class="btn btn-primary btn-lg active" role="button"
    aria-pressed="true">Créer une nouvelle
    annonce</a>
</div>

<div class="container d-flex justify-content-center align-middle mt-5 w-50 ">

  <table class="table table-bordered table-light text-center">
    <tbody>
      <tr>
        <th>#</th>
        <th>Annonce</th>
        <th>Supprimer</th>
      </tr>
      <tr>
        <td>52</td>
        <td>Sega c'est plus fort que toi</td>
        <td>X</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Sega c'est plus fort que toi</td>
        <td>X</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Sega c'est plus fort que toi</td>
        <td>X</td>
      </tr>
    </tbody>
  </table>
</div>
