<div class="container">
  <div class="row align-items-center">
    <div class="col-lg d-block">
      <div class="text-center mb-5">
        <img src="/assets/img/logo_picom.png" class="img-thumbnail" alt="">
      </div>
      <div class="mb-4">
        <h2>Authentification</h2>
      </div>
      <div>
        <form (submit)="onSubmit()" [formGroup]="authForm">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Adresse Mail</label>
            <input type="email" class="form-control" id="email" placeholder="email@orsys.fr" formControlName="email">
          </div>
          <div class="form-group mb-3">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Mot de passe"
              formControlName="password">
          </div>
          <div class="form-group mb-3">
            <input type="checkbox" class="form-check-input mr-5" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"> Rester connecter</label>
          </div>
          <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
      </div>
      <p class="mt-3">Vous n'avez pas de compte ? <a [routerLink]="['/inscription']">cliquez ici</a> pour vous inscrire.
      </p>
    </div>
    <div class="col-lg mt-3">
      <img src="/assets/img/bg_1.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>
