<div class="container d-flex justify-content-center align-middle mt-5">
  <form class="w-50 ">
    <div class="card ">
      <div class="card-header">Annonce</div>
      <div class="card-body text-center">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Texte</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
      <div class="card-header ">Nombre de zones</div>
      <div class="card-body text-center">

        <div class="form-check form-check-inline" *ngFor="let zone of zones">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">{{ zone.name }}</label>
        </div>

        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">A</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">B</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox1">C</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox2">D</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="form-check-label" for="inlineCheckbox2">E</label>
        </div> -->

      </div>
      <div class="card-header">Période de l'annonce</div>
      <div class="card-body text-center">
        <label for="startDate">Date et Heure de début diffusion</label>
        <input id="startDate" class="form-control" type="date" />
        <label for="startDate">Date et Heure de fin diffusion</label>
        <input id="startDate" class="form-control" type="date" />
      </div>
      <div class="card-header ">Tranche(s) horaire(s)</div>
      <div class="card-body text-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">6h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">7h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox1">8h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox2">9h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="form-check-label" for="inlineCheckbox2">10h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">11h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">12h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox1">13h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox2">14h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="form-check-label" for="inlineCheckbox2">15h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">16h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">17h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox1">18h</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox2">19h</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Sauvegarder l'annonce</button>
  </form>
</div>
